*{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
     padding: 2% 15% 6% 15%; 

}
.container-fluid1{
    padding: 7% 15% 15% 15%; 
    padding-bottom: 106.188px;
}
    
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'ubuntu';
    color: #8f8f8f;
}
/* Navbar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
    color: #fff;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}
/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;
    font-family: 'ubuntu';
}
    /* Title image */
.title-image{
    width: 20%;
    transform:rotate(25deg);
    position: absolute;
    
}
.features{
    /* margin-top: 80px;
    margin-bottom: 110px; */
    z-index: 1;
    position: relative;
    background-color: #fff;margin-right: 0;
}
/* Icons */
.icon{
    font-size: 75px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ef8172;
    margin-bottom: 20px;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonial Section */
#testimonials{
    color: #fff;
    text-align: center;
    background-color: #ef8172;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-coloumn{
    padding: 3% 2%;
}
@media(max-width: 1028px)
{
    #title{
        text-align: center;
    }
    .title-image{
        right: 0;
        position: static;
        transform: rotate(0);
        height: auto;
        width: 100%;

    }
}
.cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 100px 0;
}
.cta-h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 65px;
}
.download-button1{
    font-family: 'Ubuntu';
}
.button1{
    margin-right: 20px;
}
#footer{
    text-align: center;
    background-color: #fff;
    padding: 100px 0;
}
.bottom-icons{
    margin: 10px;
}
.bottom-icons1{
    margin: 0 10px;
}
